.nav {
    color: rgb(99, 215, 250);
    background-color:#fff;
    padding: 20px;
    text-align: center;
    font-size: 1.6rem;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.nav-list-item {
    display: inline;
    width: 33%;
    float: left;
    
}

.logo {
    text-decoration: none;
    color: rgb(99, 215, 250);
}

.status {
    color: #fd5;
}